/* CSS GENERAL */
body{
	margin:0;
}
header{
	width: 100%;
	padding: 10px;
	background-color: steelblue;
}
#titre{
	text-align: center;
	font-family: Insolent;
	color: darkslategray;
	font-size: 50px;
}
#sous-titre{
	text-align: center;
	font-size: 40px;
	font-family: Verdana, sans-serif;
	color: darkgray;
}
nav{
	width: 100%;
	text-align: left;
	background-color: steelblue;
	border-bottom: 1px solid darkblue;
	margin: 0;
	padding: 2px;
}
nav ul, #onglets-profil{
	list-style-type: none ;
}
nav li{
	border: 1px solid black;
	padding: 5px;
}
nav li, #onglets-profil li{
	display: inline;
	background-color: white;
}
nav li:hover{
	background-color: lightgrey;
}
nav a, #onglets-profil a{
	text-decoration: none;
	color: black;
}

/* BALISES CSS POUR PAGE PROFIL */
#onglets-profil{
	margin: auto;
	width: 90%;
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
#onglets-profil li{
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
}
#onglets-profil a{
	padding: 5px;
	background-color: lightgray;
}
#onglets-profil a:hover{
	background-color: white;
}
#onglets-profil li:hover{
	border-bottom: 1px solid white;
}
#onglets-profil #active a{
	border-bottom: 1px solid white;
	background-color: white;
}
#contenu-profil, #contenu-vente{
	padding: 10px;
	margin: 5px;
}
#contenu-profil input{
	float: right;
	margin-right: 50px;
	font-size: 20px;
	margin-top: 260px;
}
#contenu-profil ul{
	list-style-type: none;
}
#contenu-profil .informations{
	display: block;
	float: left;
	font-size: 20px;
	padding : 20px;
}
#contenu-profil .statistiques{
	margin-top: 190px;
	display: block;
	position: absolute;
	font-size: 20px;
	padding: 15px;
}
#contenu-profil li{
	padding: 2px;
}
#image-profil, #image-vente{
	width: 200px;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    float : left;
    margin-right : 50px;
}

/* BALISES CSS POUR PAGE INDEX ET CATALOGUE */
#zone-categories-index{
	float: left;
	list-style-type: none;
	width: 15%;
	height: 620px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
#contenu-index{
	padding: 10px;
	margin: 5px;
}
#image-loupe{
	height: 25px;
	vertical-align:bottom;
}
#barre-de-recherche{
	margin: 5px;
	width: 100%;
	text-align: center;
}
#barre-de-recherche input{
	width: 15%;
}
#titre-categories{
	font-family: Insolent;
}
.photo-miniature-produit{
	height: 150px;
}
.produit-courant{
	border-bottom: 1px solid black;
	height: 200px;
	margin: 4px;
}
.produit-courant ul{
	float: right;
	line-height: 50px;
	list-style-type: none;
	margin-right: 20%;
	text-align: center;
}
.produit-courant img{
	float: left;
	margin: 20px;
	margin-left: 20%;
}
#boutons-index{
	float: left;
	list-style-type: none;
	text-align: center;
	margin-top: 260px;
}
#ensemble-produits{
	float: left;
	margin: 0 auto;
	width: 70%;
	padding: 10px;
}
#boutons-index button{
	margin-bottom: 20px;
	width: 150px;
}
#categories-index{
	margin-top: 150px;
	border: 1px solid black;
	padding-bottom: 50px;
}
#categorie-selectionnee{
	list-style-type: circle;
	font-style: oblique;
	text-decoration: underline;
}
#page-courante{
	background-color: lightgrey;
}

/* BALISES CSS POUR VENTE */
#contenu-vente .informations{
	font-size: 20px;
	list-style-type: none;
	float: left;
	display: block;
	margin-top: 0 auto;
}
#contenu-vente .prix{
	margin-left: 200px;
	float:middle;
	list-style-type: none;
	display: block;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}
#contenu-vente .statistiques-vendeur{
	text-align: left;
	list-style-type: none;
	float: left;
	display: block;
	margin-top: 20px;
	font-size: 20px;
}

#contenu-vente h4{
	margin: 5px;
}

#contenu-vente input{
	margin-top: 50px;
	margin-right: 200px;
	float: right;
	font-size: 20px;
}

/* BALISES CSS POUR PAGE CREATION COMPTE */
#formulaire-creation ul{
	list-style-type: none;
}
#formulaire-creation li{
	padding: 5px;
	text-align: right;
}
#formulaire-creation #blocs-formulaire{
	display: block;
	margin-left: 30%;
	margin-right: 30%;
}
#formulaire-creation #blocs-formulaire div{
	margin: 5px;
	display: block;
	float: left;
}
#formulaire-creation #bouton{
	text-align: center;
	width: 10%;
	margin-top: 20px;
	margin-left: 45%;
	margin-right: 45%;
}

/* BALISES CSS POUR PAGE CREATION VENTE */
#formulaire-vente ul{
	list-style-type: none;
	display: block;
	margin-left: 37%;
	margin-right: 30%;
	width: 30%;
}
#formulaire-vente li{
	padding: 5px;
	text-align: left;
}
#formulaire-vente{
	margin-left: auto;
	margin-right: auto;
}
#formulaire-vente #bouton{
	text-align: center;
	width: 10%;
	margin-left: 45%;
	margin-right: 45%;
}
#formulaire-vente #gros-texte{
	height: 75px;
}
/*
.contenu-onglet{
	
	display: none;
	
}
*/
.onglet-cliquable{
	margin: auto;
	width: 90%;
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.onglet-cliquable span{
	padding: 5px;
	border: 1px solid black;
}

.onglet-selectionne{
	border-bottom: 1px solid #fff;
    background-color: #00a500;
}



.onget-non-selectionne{
	float : left;
    height : 28px;
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;
    border : 1px solid black;
}
