/*
COULEURS

paletton.com
	
	Palette 1: Variations Turquoise
	- #225F5D
	- #C9EBEA
	- #59908D
	- #063533


	Palette 2: Variations Saumon
	- #FF8E6A
	- #FFCCBC
	- #FFAA8F
	- #FF754A
	- #EC501F

	Palette 3: Variations Vert pomme
	- #C3E85D
	- #EAFBB9
	- #D9F688
	- #9FC535
	- #729316

*/

/*





*/

body {
	background-color: #59908D;
	margin: 10px;
	padding: 10px;
	
}



/*
h1{
	color: ;
}
*/

/*
p{
	
}
*/

.logo_Cegep_Matane {
	position: absolute;
	top: 0;
	right: 0;
}

.liste_article {
	color-background:#225F5D 
	text-align: center;
}

.colonne_selection_categorie_produit{
	
	position: absolute;
	padding: 10px;
	
}



#titre_survie_etudiante {
	
	font-size: 300%;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 31px;
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
    font-size: 20px;
}
#onglets li
{
    float : left;
    height : 28px;
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;
    border : 1px solid #9EA0A1;
}
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover
{
    background : #fff;
}
#imgprofil {
	max-width: 300px;
    height: auto;
    border: 1.5px black solid;
    padding: 10px;
    vertical-align: middle;
    float : left;
    margin-right : 20px;
}
#generalprofil{
    font-family: Arial, Helvetica, sans-serif;
}
#titreprofil{
    text-align:center;
}
#informations{
    margin : 10px;
}
.tdprofil{
    padding-bottom: 50px;
    width : auto;
    padding-right: 80px;
}

